.cards {
    
    width: 80%;
    height: min-content;

}
#ntf_cards {
    margin-top: 0rem;
}
#card1{
    width: 100%;
    height: min-content;
    margin-bottom: 2.5rem;
}

/* .card {
    width: 100%;
    height: min-content;
    margin-bottom: 2.5rem;
} */

.card-text-label {
    font-weight: bold;
}

body {
    margin: 0;
    background-color: white;
}


main {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* margin-top: 8rem; */
}

#link {
    margin:2rem;
    justify-content: flex-start;
}